.roundImg{
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.flex {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 20px 0 0 55px;
}

.p-l-10{
    padding-left: 10px;
}

.text-white {
    font-weight: 900;
    color: #7f7f7f;
}